<nav class="navigation-default">
  <div class="nav-wrapper">

    <div class="left-nav">
        <a href="{{ url_for('home.index') }}">Home</a>
        <a href="{{ url_for('chart.index') }}">Charts</a>
    </div>

    <div class="right-nav">
    </div>

  </div>
</nav>
